#
# Java
#
*.class
bin
.pmd
out

#
# Package Files
#
*.jar
*.war
*.ear

#
# Gradle
#
build
.gradle
gradle/*
!gradle/wrapper
!gradle/wrapper/*
!gradle/wrapper/gradle-wrapper.jar

#
# IntelliJ
#
workspace.xml
libraries/
*.iml

#
# TestNG
#
test-output
testng.xml
